{% extends '::base.html.twig' %}
{% form_theme form 'default/labels.html.twig' %}
{#{% form_theme form 'default/input.html.twig' %}#}


{% block title %}New Product Form{% endblock title %}


{% block headline %}Add new product:{% endblock headline %}


    {% block content %}


        {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.price) }}
            {{ form_row(form.description) }}
            {{ form_row(form.category) }}

        {#{{ form_widget(form) }}#}

        {#<button type="submit" class="btn btn-default">Submit</button>#}
        <div class="form-group">
            <div class="">
                <button class="btn btn-primary" type="submit">Add</button>
            </div>
        </div>

        {{ form_end(form) }}

    {% endblock %}

{% block footer %}

{% endblock footer %}



