{% extends "default/crud.html.twig" %}
{% block body %}
<h1>Admin Panel</h1>

{% for key,category in categories %}
<tr>
        <td><a href="{{ path('sort', {'category_id':category.id}) }}">{{ category.name }}</a></td>

    {% endfor %}

    <table>
        <thead>
        <tr>
            <th> ID
            <th> Product Name
            <th> Price
            <th> Description
            <th> Category
            <th> EDIT
            <th> DELETE
        </thead>
        <tbody>

       {% for product in products %}
        <tr>
            <td>{{product.id}}
            <td>{{product.name}}
            <td>{{product.price}}
            <td>{{product.description}}
            <td>{{ product.category }}
            <td><a href="{{ path('edit', {'id': product.id}) }}">EDIT</a>
            <td><a href="{{ path('delete', {'id': product.id}) }}">DELETE</a>
        </tbody>
        {% endfor %}
    </table>

{% endblock %}
